@import "tailwindcss";
@plugin "@iconify/tailwind4" {
  scale: 1.2;
}
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg-color: rgb(245 245 245);
}

:root.dark {
  --bg-color:  rgb(39 39 42);
}

body {
  background-color: var(--bg-color);
  font-family: "poppins", sans-serif;
  font-size: 18px;
}